<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input id="name" type="text" class="form-control" #nameInput />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input id="amount" type="number" class="form-control" #amountInput />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button type="submit" class="btn btn-success" (click)="onAddItem()">Add</button>
          <button type="button" class="btn btn-danger">Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>