<h3>I'm in the AppComponent!</h3>

<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<hr/>
<app-servers></app-servers>

<app-successalert></app-successalert>
<app-warningalert></app-warningalert>