<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ngModel required email #email="ngModel" />
          <span *ngIf="email.invalid && email.touched" class="help-block">Please enter a valid email</span>
        </div>

        <div class="form-group">
          <label for="subscription">Subscription</label>
          <select id="subscription" name="subscription" class="form-control" [ngModel]="selectedSubscription">
            <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" ngModel required #password="ngModel" />
          <span *ngIf="password.invalid && password.touched" class="help-block">Please enter a password</span>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>