<div class="row">
  <div class="col-xs-12">
    <button type="button" routerLink="new" class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item *ngFor="let recipeElement of recipes; let i = index" [recipe]="recipeElement" [index]="i" ></app-recipe-item>
  </div>
</div>