<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br>
      <br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li *ngFor="let odd of oddNumbers" class="list-group-item" [ngClass]="{odd: odd % 2 !== 0}" [ngStyle]="{backgroundColor: odd %2 !== 0 ? 'yellow': transparent}">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li *ngFor="let even of evenNumbers" class="list-group-item" [ngClass]="{odd: even % 2 !== 0}" [ngStyle]="{backgroundColor: even %2 !== 0 ? 'yellow': transparent}">
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight defaultColor="yellow" [highlightColor]="'red'">Style me with basic directive</p>
      <p *appUnless="!onlyOdd">Showing odd numbers (logic using custom structural directive)</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>