<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{ title }}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link'
         [routerLink]="['/welcome']"
         routerLinkActive="router-link-active">Home</a></li>
    <li><a class='nav-link'
         [routerLink]="['/products']"
         routerLinkActive="router-link-active">Product List</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
