<label>Server Name</label>
<p>One way binding: <input type="text" class="form-control" (input)="onUpdateServerName($event)" /></p>
<p>Two way binding: <input type="text" class="form-control" [(ngModel)]="serverName"></p>
<p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>